# MEDA
Multivariate EDA

In [1]:
import logging
import warnings
logger = logging.getLogger(__name__)
logging.basicConfig(filename="logs/explorify.log", encoding="utf-8", level=logging.DEBUG)
warnings.filterwarnings("ignore")

In [1]:
from explorify.utils.io import IOService
import pandas as pd

In [2]:
FP = "tests/data/Credit Score Classification Dataset.csv"
df = IOService.read(FP)
df2 = pd.get_dummies(data=df)

In [3]:
df2.head()

,rating,vote_sum,vote_count,date,review_length,year,id_10000147534,id_1000055614,id_10000710852,id_10001149670,...,ymd_2023-08-06,ymd_2023-08-07,ymd_2023-08-08,ymd_2023-08-09,ymd_2023-08-10,ymd_2023-08-11,ymd_2023-08-13,ymd_2023-08-15,ymd_2023-08-16,ymd_2023-08-17
15304956,1,0,0,2008-09-04 20:09:46,26,2008,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1563002,5,0,0,2008-10-14 01:23:00,19,2008,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3868916,5,1,2,2008-11-03 05:40:12,2,2008,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15304959,1,0,0,2008-12-12 06:59:22,8,2008,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16466431,5,4,4,2008-12-20 05:11:03,31,2008,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False