# MEDA
Multivariate EDA

In [1]:
import logging
import warnings
logger = logging.getLogger(__name__)
logging.basicConfig(filename="logs/explorify.log", encoding="utf-8", level=logging.DEBUG)
warnings.filterwarnings("ignore")

In [2]:
from explorify.utils.io import IOService
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [6]:
FP = "tests/data/Credit Score Classification Dataset.csv"
df = IOService.read(FP)
df2 = pd.get_dummies(data=df, dtype=int)
scaler = StandardScaler()
a1 = scaler.fit_transform(df2)
features = scaler.get_feature_names_out()
df3 = pd.DataFrame(data=a1, columns=features)
df3.head()

,Age,Income,Children,Gender_Female,Gender_Male,Education_Associate's Degree,Education_Bachelor's Degree,Education_Doctorate,Education_High School Diploma,Education_Master's Degree,Marital Status_Married,Marital Status_Single,Own_Owned,Own_Rented,Credit Rating_Average,Credit Rating_High,Credit Rating_Low
0,-1.54,-1.04,-0.74,0.95,-0.95,-0.42,1.70,-0.48,-0.47,-0.53,-1.06,1.06,-1.45,1.45,-0.53,0.67,-0.32
1,-0.94,0.50,1.53,-1.05,1.05,-0.42,-0.59,-0.48,-0.47,1.89,0.94,-0.94,0.69,-0.69,-0.53,0.67,-0.32
2,-0.35,-0.27,0.39,0.95,-0.95,-0.42,-0.59,2.07,-0.47,-0.53,0.94,-0.94,0.69,-0.69,-0.53,0.67,-0.32
3,0.24,1.27,-0.74,-1.05,1.05,-0.42,-0.59,-0.48,2.11,-0.53,-1.06,1.06,0.69,-0.69,-0.53,0.67,-0.32
4,0.83,0.50,2.67,0.95,-0.95,-0.42,1.70,-0.48,-0.47,-0.53,0.94,-0.94,0.69,-0.69,-0.53,0.67,-0.32

In [4]:
df2.head()

,Age,Income,Children,Gender_Female,Gender_Male,Education_Associate's Degree,Education_Bachelor's Degree,Education_Doctorate,Education_High School Diploma,Education_Master's Degree,Marital Status_Married,Marital Status_Single,Own_Owned,Own_Rented,Credit Rating_Average,Credit Rating_High,Credit Rating_Low
0,25,50000,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0
1,30,100000,2,0,1,0,0,0,0,1,1,0,1,0,0,1,0
2,35,75000,1,1,0,0,0,1,0,0,1,0,1,0,0,1,0
3,40,125000,0,0,1,0,0,0,1,0,0,1,1,0,0,1,0
4,45,100000,3,1,0,0,1,0,0,0,1,0,1,0,0,1,0